/* variables */
:root{
    --primary: #cd6c2a
}

/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* fonts */

/* base styles */
.container-fluid{
    padding: 0 40px;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.button{
    display: inline-block;
    background-color: var(--primary);
    color: white;
    font-family: 'Tinos', serif;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.button:hover{
    background-color: #eb7323;
}

/* desktop styles */
