/* variables */
:root{
    --primary: #cd6c2a
}

/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* fonts */

/* base styles */
.container-fluid{
    padding: 0 40px;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.button{
    display: inline-block;
    background-color: var(--primary);
    color: white;
    font-family: 'Tinos', serif;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.button:hover{
    background-color: #eb7323;
}
.search-box{
    border: none;
    color: var(--primary);
    background-color: transparent;
    font-family: 'Medula One', cursive;
    padding: 10px 5px;
    font-size: 1.5em;
}
.search-box:focus{
    border-width: 0px;
    border: none;
    outline: none;
}
.align-center{
    align-items: center;
}

/* desktop styles */
.header{
    height: 100vh;
    background: url(/images/main-background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.navigation{
    padding: 40px 0;
}
.nav-links{
    grid-column: 1/5;
}
.nav-search{
    grid-column: 10/13;
    justify-self: end;
    align-self: center;
    border-bottom: 3px solid var(--primary);
}
.nav-search input{
    width: 70%;
}
.nav-links a{
    color: var(--primary);
    font-family: 'Medula One', cursive;
    font-size: 1.75em;
    margin-right: 20px;
}
.hero{
    padding: 30px 0;
}
.hero-img{
    grid-column: 1/7;
}
.hero-img img{
    width: 40%;
    margin-left: 100px;
}
.hero-text{
    grid-column: 7/13;
    text-align: center;
}
.hero-text img{
    width: 55%;
}
.hero-text h1{
    color: var(--primary);
    font-family: 'Medula One', cursive;
    font-weight: 400;
    margin: 15px 0;
}
.txt-container{
    background-color: var(--primary);
    padding: 10px 5px;
    border-radius: 10px;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: .75em;
    width: 80%;
    margin: 20px auto;

}
